@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap");
@keyframes portfolio {
  0% {
    transform: scaleX(0);
  }
  17% {
    transform: scaleX(0.18);
  }
  46% {
    transform: scaleX(0.83);
  }
  100% {
    transform: scaleX(1);
  }
}
body {
  background-color: floralwhite;
  max-width: 900px;
  margin: auto;
  font-family: "Open Sans", sans-serif;
}

.homepage {
  /*background: url(sunrise.jpg);*/
}
.homepage .btn {
  text-align: justify;
  width: auto;
  background-color: cornflowerblue;
}
.homepage .main-header .nav-links {
  display: flex;
  list-style: none;
  background-color: #880944;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 10px;
  justify-content: space-around;
}
@media all and (max-width: 800px) {
  .homepage .main-header .nav-links {
    flex-direction: column;
    align-items: center;
  }
}
.homepage .main-header .nav-links .nav-link {
  transform: scale(1);
  transition: transform 400ms;
}
.homepage .main-header .nav-links .nav-link:hover {
  transform: scale(1.15);
}
.homepage .main-header .nav-links .nav-link a {
  padding: 0.5rem;
  text-decoration: none;
  color: floralwhite;
}
.homepage .main-header .nav-links .nav-link a:hover {
  background-color: #040c61;
}

.container-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  width: 100%;
  max-width: 1100px;
}
@media all and (max-width: 800px) {
  .container-1 {
    flex-direction: column;
    width: 100%;
  }
}
.container-1 .name {
  font-size: 30px;
  color: #055e59;
  padding: 50px;
}

.about {
  text-align: center;
}

.readme {
  display: flex;
  text-align: justify;
  padding: 5px;
  background-color: floralwhite;
}

#profile {
  height: 300px;
  border-radius: 50%;
  float: right;
  /* margin-top: 30px;*/
}

.profilepict {
  font-size: 2em;
}

.left-icons {
  font-size: 1.6em;
  color: #474545;
  margin: 0.4em;
  border: thick solid #474545;
  border-radius: 50px;
  padding: 5px;
}

.hobbies {
  text-align: center;
}

.container-2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: auto;
}
@media all and (max-width: 800px) {
  .container-2 {
    margin-left: 1em;
    margin-right: 1em;
    width: auto;
  }
}
.container-2 .education {
  display: flex;
  flex-direction: column;
  width: 600px;
  animation: portfolio 1000ms;
  transform-origin: left 50%;
}
.container-2 .experience {
  display: flex;
  flex-direction: column;
  width: 600px;
  animation: portfolio 1000ms;
  transform-origin: right 50%;
}

/*.container-3
{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin:auto;
	width: 70%;
}*/
.ref {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  margin: auto;
  width: 70%;
}

.lang {
  height: 200px;
}

.music {
  height: 200px;
}

.draw {
  height: 200px;
}

.port {
  display: flex;
  flex-direction: row;
}
@media all and (max-width: 800px) {
  .port {
    flex-direction: column;
    width: 100%;
  }
}
.port .portpic {
  transform: scale(1);
  transition: transform 400ms;
}
.port .portpic:hover {
  transform: scale(1.2);
}
.port .portpic .port-pic {
  display: flex;
  flex-direction: row;
  margin: 30px;
  height: 250px;
}

.folio {
  display: flex;
  flex-direction: row;
}
@media all and (max-width: 800px) {
  .folio {
    flex-direction: column;
    width: 100%;
  }
}
.folio .foliopic {
  transform: scale(1);
  transition: transform 400ms;
}
.folio .foliopic:hover {
  transform: scale(1.2);
}
.folio .foliopic .folio-pic {
  height: 250px;
}

.experience {
  margin: 10px;
}

.elements {
  display: flex;
  flex-direction: row;
}

.response {
  display: flex;
  flex-direction: row;
}

.one {
  width: 140px;
  margin-right: 70px;
}

.two {
  width: auto;
}

.intouch {
  text-align: center;
  font-size: larger;
}
.intouch .socialme {
  color: #0a63b6;
  font-size: 2em;
}
.intouch .socialme .github {
  color: #3d3c3c;
  transform: scale(1);
  transition: transform 400ms;
}
.intouch .socialme .github:hover {
  transform: scale(1.4);
}
.intouch .socialme .facebook {
  transform: scale(1);
  transition: transform 400ms;
}
.intouch .socialme .facebook:hover {
  transform: scale(1.4);
}
.intouch .socialme .twitter {
  transform: scale(1);
  transition: transform 400ms;
}
.intouch .socialme .twitter:hover {
  transform: scale(1.4);
}
.intouch .socialme .skype {
  transform: scale(1);
  transition: transform 400ms;
}
.intouch .socialme .skype:hover {
  transform: scale(1.4);
}

/*# sourceMappingURL=main.css.map */
